<%# Content Heading block %>
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>
<% if (errors) { %>
  <ul class="error">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<%# messages() %>

<%# Edit Inventory form %>
<div class="formContainer">
    <form id="deleteConfirmationForm" action="/inv/delete" method="post">
        <label for="classification_name">Vehicle information:</label>
        <input readonly type="hidden" name="inv_id" value="<%= locals.inv_id ? locals.inv_id : inv_id %>">
        <label for="inv_make">Make:</label>
        <input readonly type="text" id="inv_make" name="inv_make" value="<%= locals.inv_make ? locals.inv_make : inv_make %>" required>
        <label for="inv_model">Model:</label>
        <input readonly type="text" id="inv_model" name="inv_model" value="<%= inv_model %>" required>
        <label for="inv_year">Year:</label>
        <input readonly type="number" id="inv_year" name="inv_year" value="<%= inv_year %>" required>
        <label for="inv_description">Description:</label>
        <input readonly type="text" id="inv_description" name="inv_description" value="<%- inv_description %>" required>
        <label for="inv_price">Price:</label> 
        <input readonly type="number" id="inv_price" name="inv_price" value="<%= inv_price %>" required>
        <label for="inv_miles">Miles:</label>
        <input readonly type="number" id="inv_miles" name="inv_miles" value="<%= inv_miles %>" required>
        <label for="inv_color">Color:</label>
        <input readonly type="text" id="inv_color" name="inv_color" value="<%= inv_color %>" required>
        <label for="classification_id">Classification:</label>
        <input readonly type="text" name="classification_id" id="classification_id" value="<%- classificationName %>">
        <label for="inv_image">Image file name<sup>*</sup>:</label>
        <input readonly type="text" id="inv_image" name="inv_image" value="<%- inv_image %>" required>
        <label for="inv_thumbnail">Thumbnail file name<sup>*</sup>:</label>
        <input readonly type="text" id="inv_thumbnail" name="inv_thumbnail" value="<%- inv_thumbnail %>" required>
        <button type="submit" class="button" >Delete</button>
        <p class="alert">Confirm Deletion - The delete is permanent.</p>
    </form>
</div>