<%# Content Heading block %>
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<% if (errors) { %>
  <div class="flash-message">
    <p><%= errors %></p>
  </div>
<% } %>

<% if (message) { %>
  <div class="flash-message">
    <p><%= message %></p>
  </div>
<% } %>

<% if (notice) { %>
  <div class="flash-message">
    <p><%= notice %></p>
  </div>
<% } %>

<%# Managent link list %>
<ul class="management">
  <li><a href="/inv/add-classification">Add New Classification</a></li>
  <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
</ul>

<h2>Manage Inventory</h2>
<p>Select a classification form the list to see the items belonging to the classification.</p>
<%- classificationSelect %>
<table id="inventoryDisplay"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="/js/inventory.js"></script>